<mat-sidenav-container style="height:100vh;width:100%;background:green">
  <mat-sidenav style="background:red" >Start</mat-sidenav>
  <mat-sidenav style="background:blue" position="end">End</mat-sidenav>
  
    <!-- TRANSCLUSION -->

<mat-sidenav-content>

<mat-toolbar class="horisontal-toolbar" 
    [ngStyle]="{'position': (isHandset$ | async)? 'fixed':'relative'}"
    id="horisontal-toolbar" >

    <div *ngIf="!(isHandset$ | async)" 
        class="horisontal-navbar-logo-container">
            <div id="logo-lrj" >
                <div class="logo-lrj logo-desktop">
                    <h4 style="background:transparent">Louise Rought</h4>                
                </div>
            </div>
    </div>

    <span class="fill-space"></span>

    <div class="horisontal-menu-right"
        id="horisontal-nav"
        *ngIf="!(isHandset$ | async)">
                
                <a routerLink="login" mat-button>Aktuelt</a>
                <a mat-button >Kollektioner</a>
                <a mat-button >Bryllup</a>
                <a mat-button>Shop</a>
                <a mat-flat-button id="menu-handcrafted" 
                        [matMenuTriggerFor]="menuAbout">Handcrafted</a> 
            
    </div> 

        <mat-menu class="mat-menu" #menuAbout="matMenu">
                <a mat-menu-item  >
                    <span>Om Louise Rought</span>
                </a>
                <a mat-menu-item >
                    <span>Find</span>
                </a>
                <a mat-menu-item >
                    <span>Skriv</span>
                </a>
                <a mat-menu-item>
                    <span>Nyhedsbrev</span>
                </a>
        </mat-menu> 





</mat-toolbar>

    <ng-content>
        
    </ng-content>

</mat-sidenav-content>
  

</mat-sidenav-container>



