<mat-sidenav-container >

  
    <!-- TRANSCLUSION -->

<mat-sidenav-content>

<mat-toolbar class="horisontal-toolbar" 
    [ngStyle]="{'position': (isHandset$ | async)? 'fixed':'relative'}"
    id="horisontal-toolbar" >

    <div *ngIf="!(isHandset$ | async)" 
        class="horisontal-navbar-logo-container">
            <div id="logo-lrj" >
                <div class="logo-lrj logo-desktop">
                    <h4 style="background:transparent">Pencil</h4>                
                </div>
            </div>
    </div>

    <span class="fill-space"></span>

    <div class="horisontal-menu-left"
        *ngIf="!(isHandset$ | async)">

        <a mat-button href="">Why Pencil</a>
        <a class="sub-menu" mat-button [matMenuTriggerFor]="menuAnalytics" >Analytics</a>
        <a mat-button href="">Pricing</a>
        <a mat-button href="">Resources</a>

    </div>

    <div class="horisontal-menu-right"
        id="horisontal-nav"
        *ngIf="!(isHandset$ | async)">

               
                <a *ngIf="auth.isLoggedOut$ | async" 
                   (click)="gotoLogin()"
                    mat-raised-button color="primary">Log In
                </a>

                <a *ngIf="auth.isLoggedOut$ | async" 
                   (click)="gotoLogin()"
                    mat-raised-button color="accent">Sign Up Free
                </a>
                
                <a *ngIf="auth.isLoggedIn$ | async" 
                    mat-button (click)="logout()" >Logout
                </a>
                
                <a mat-flat-button id="menu-handcrafted"
                    *ngIf="auth.isLoggedIn$ | async"  
                        [matMenuTriggerFor]="menuAbout">Profile
                </a> 
            
    </div> 


        <mat-menu class="mat-menu" #menuAnalytics="matMenu">
                <a mat-menu-item  >
                    <span>Social Media</span>
                </a>
                <a mat-menu-item >
                    <span>Events</span>
                </a>
                <a mat-menu-item >
                    <span>Survey</span>
                </a>
        </mat-menu> 

        <mat-menu class="mat-menu" #menuAbout="matMenu">
                <a mat-menu-item  >
                    <span>Om Louise Rought</span>
                </a>
                <a mat-menu-item >
                    <span>Find</span>
                </a>
                <a mat-menu-item >
                    <span>Skriv</span>
                </a>
                <a mat-menu-item>
                    <span>Nyhedsbrev</span>
                </a>
        </mat-menu> 





</mat-toolbar>

    <ng-content style="background:orange" >
        
    </ng-content>

</mat-sidenav-content>
  

</mat-sidenav-container>



