@import "./vars";
@import "./fonts";

$cursor-color: darken($primary, 20%);

html {
  margin: 0%;
  overflow-x: hidden !important;
  max-width: 100vw !important;

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px darken($cursor-color, 40%);
    box-shadow: inset 0 0 6px darken($cursor-color, 40%);
    background-color: ligthen($cursor-color, 5%);
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: lighten($cursor-color, 30%);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darken($cursor-color, 10%);
    border: 2px solid $cursor-color;
  }
}
